@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@400;600&display=swap");
$f-changa: "Changa", sans-serif;
.text-center {
  text-align: center;
  font-size: 32px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar__cart {
  margin: 0 auto;
}
.navbar__cart-img {
  max-width: 24px;
  display: flex;
  margin: 0 auto;
  @media (max-width: 991px) {
    max-width: 40px;
  }
}
.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note-wrapper {
  display: flex;
  flex-direction: column;
}
.note small {
  margin-top: 8px;
}

.spinner-border {
  display: block;
  margin: 0 auto;
}

.alert-enter {
  opacity: 0;
}

.alert-enter-active {
  transition: opacity 500ms ease-out;
  opacity: 1;
}

.alert-exit-active {
  transition: opacity 350ms ease-out;
  opacity: 0;
}

.city-wrapper-exit-active {
  animation: cityCard 800ms ease-out forwards;
}
.city-wrapper-enter-active {
  animation: cityCard 800ms ease-in alternate-reverse;
}
// .city-modal-exit-active {
//   animation: cityModal 800ms ease-in alternate-reverse;
// }

@keyframes cityCard {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
@keyframes cityModal {
  0% {
    opacity: 1;
  }

  30% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.small-shop {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
  }
  .card {
    width: calc(50% - 7px);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
    &:nth-child(even) {
      margin-left: 14px;
    }
    .card-body {
      display: flex;
      flex-direction: column;
      @media (max-width: 405px) {
        padding: 15px 5px;
      }
    }
    .item__price {
      font-size: 28px;
      font-family: "Courier New", Courier, monospace;
      font-weight: 600;
    }
    .card-img-top {
      max-height: 210px;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    &__btns {
      display: flex;
      flex-direction: column;
      height: auto;
      .btn {
        display: block;
      }
      .btn-primary {
        margin-bottom: 10px;
      }
      .shopping-cart {
        max-width: 18px;
      }
    }
  }
  .modal {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .basket-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    .fs-1 {
      font-size: 25px;
    }
    .notice {
      font-size: 23px;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-weight: 600;
    }
    .basket__item {
      display: flex;
      margin-bottom: 15px;
      position: relative;
      .goodQuantity {
        padding: 5px;
        min-width: 20px;
        display: inline-block;
        font-size: 14px;
        text-align: center;
      }
      .btn-remove {
        position: absolute;
        right: 0;
        background-color: orangered;
        color: black;
        font-size: 16px;
        font-weight: 600;
        border: none;
        outline: none;
      }
      input {
        max-width: 50px;
      }
      .item__img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        margin-right: 8px;
      }
      .item__title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: "Courier New", Courier, monospace;
      }
      .item__price {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
        font-family: "Courier New", Courier, monospace;
      }
      .btn-decrement,
      .btn-increment {
        border: none;
        outline: none;
        padding: 2px 10px;
        font-size: 18px;
      }
    }
  }
}

.forecast-section {
  font-family: $f-changa;
  // position: relative;
  .cities-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  .main-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .search-btn {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-color: rgb(16, 55, 228);
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 18px;
    transition: all 0.3s;
    &:hover {
      background-color: lighten(rgb(16, 55, 228), 5%);
      box-shadow: 0 0 4px rgb(16, 55, 228);
    }
    @media (max-width: 768px) {
      width: 50px;
      height: 50px;
      bottom: 30px;
      left: 30px;
      padding: 10px;
    }
  }

  .city-modal {
    width: 100vw;
    display: flex;
    background-color: rgba(#000000, 0.1);
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    min-height: 100vh;
    left: 0;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(4px);
    overflow-y: auto;
    transition: all 0.3s;
    animation: fade 0.8s ease-in;
    opacity: 1;
    // transform: translate(-15px, -80px);
    .city-request__container {
      position: relative;
      width: 100vw;
      height: 100vh;
      display: flex;
      margin: 0 auto;
      max-width: 1280px;
      align-items: center;
      justify-content: center;
      .search-form {
        width: 85%;
        max-width: 600px;
        transform: translateY(-10vh);
        display: flex;
        flex-direction: column;
        align-items: center;

        &__field {
          width: 100%;
          margin-bottom: 10px;
          background: #e5e5e5;
          border-radius: 15px;
          padding: 10px 20px;
          color: #000;
          font-size: 25px;
          outline: none;
          border: 2px solid rgb(4, 4, 7);
          &:focus {
            border: 2px solid blue;
          }
        }
        &__btn {
          margin-right: auto;
          width: 50%;
          border-radius: 15px;
          background: #e5e5e5;
          font-size: 16px;
          outline: none;
          border: 2px solid rgb(4, 4, 7);
          padding: 2px 5px;
          &:focus {
            border: 2px solid blue;
          }
        }
      }
    }
    &__date {
      // text-transform: uppercase;
      // font-size: 30px;
      // color: #fff;
      // font-family: $f-changa;
    }
    .container {
      position: relative;
      .lds-ellipsis {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .c-slider {
      // overflow: auto;
      margin-bottom: 50px;
      .slick-list {
        @media (max-width: 992px) {
          // width: 930px;
        }
        @media (max-width: 475px) {
          width: 100%;
        }
      }
      .slick-track {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      &__item {
        padding-right: 20px;
        @media (max-width: 475px) {
          padding-right: 7px;
          padding-left: 7px;
        }
      }
      .city {
        // max-width: 260px;
        margin-left: 0;
        width: 100%;
        box-shadow: 0 0 4px #fff;
        &__title {
          color: rgb(38, 31, 68);
          text-align: center;
          font-size: 25px;
          font-weight: bold;
        }

        &__forecast--primary {
          @media (max-width: 475px) {
            width: 100%;
            img {
              width: 90px;
            }
          }
        }
      }
    }
    .close-btn {
      position: absolute;
      right: 30px;
      top: 10vh;
      transform: translateY(-50%);
      background-color: rgb(209, 9, 9);
      border: none;
      color: #fff;
      font-size: 40px;
      border-radius: 50%;
      padding: 0 9px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 768px) {
        top: 44px;
        right: 25px;
      }
    }
    &__city-name {
      font-size: 40px;
      color: rgb(255, 255, 255);
      text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
        -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
        -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
      text-align: center;
      margin: 50px 0 70px 0;
      @media (max-width: 768px) {
        margin: 50px 0 30px 0;
      }
    }
    &__date {
      color: #08070e;
      font-size: 35px;
      font-family: $f-changa;
      // text-transform: capitalize;
      margin-bottom: 15px;
    }
  }
  .city-wrapper {
    position: relative;
    display: flex;
    margin: 0 10px 20px;
    flex-basis: calc(50% - 20px);
    transition: all 0.3s;
    &__remove-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 30px;
      height: 30px;
      background-color: rgb(209, 9, 9);
      border: none;
      color: #fff;
      font-size: 30px;
      border-radius: 50%;
      // padding: 5px 5px;
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;
      img {
        // width: 100%;
        width: 30px;
        height: 30px;
      }
    }
    @media (max-width: 768px) {
      flex-basis: 100%;
    }
  }
  .city {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: blanchedalmond;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(172, 171, 171);
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      box-shadow: none;
    }
    &__title {
      // color: rgb(38, 31, 68);
      // text-align: center;
      // font-size: 18px;
    }
    &__forecast {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      img {
        width: 120px;
      }
      .temperature {
        font-size: 50px;
        font-weight: bold;
        color: rgb(38, 31, 68);
      }
      &--primary {
        .temperature {
          font-size: 31px;
          @media (max-width: 475px) {
            font-size: 42px;
          }
        }
        img {
          width: 64px;
        }
      }
      @media (max-width: 475px) {
        width: 100%;
        img {
          width: 90px;
        }
      }
    }
    &__weather-type {
      font-size: 20px;
      color: #000;
      text-transform: capitalize;
    }
    &__feels-like {
      font-size: 20px;
      color: #000;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  background-color: rgb(3, 17, 144);
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  background-color: rgb(3, 17, 144);
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  background-color: rgb(3, 17, 144);
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  background-color: rgb(3, 17, 144);
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
